body{
	margin: 0;
}
.imageViewer input {
	margin-bottom: 10px;
}

.imageViewer canvas {
}

.container {

	float: left;
}

.vcanvas {
	border: 1px solid #aaa;	
}
.header{
	background:yellow;
	height:30px;
}
.thumblist{
	border:1px solid #aaa;
	height:100px;
}
.layoutright {
	float: left;
}
#overlayCanvas
{
    position:absolute;
    z-index:100;
}
.footer{
	clear:both;
	background:gray;
}
.thumblist ul{
	padding: 0px;
	margin:0px;
}
.thumblist li{
	list-style-type: none;
	width: 90px;
	height: 90px;
	border: 1px solid gray;
	float :left;
	margin-top:4px;
	margin-left:4px;
}
