.left {
    border:1px solid #888;
    border-collapse:collapse;
}
.left th {
  border:1px solid #888;
  border-collapse:collapse;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding:3px;
}
.left td {
  border:1px solid #888;
  padding:3px;
}

.left tr
{
  background:#fff;
}

tr:hover
{
  background:#a3dee8;
  background:#FFEAEA;
}
.rt_menu
{
  float:right;
}
.nb_menu
{
  font-size: 1.5em;
  line-height: 40px;
  display:block;
  width:100%;
  background-color:white;
  position:fixed;
  top:0px;
  left:0px;
  box-shadow:indigo 0px 0px 10px rgba(0,0,0,.5);
  border-bottom:1px solid gray;
  padding:3px;
  height:50px;
}
.bd_top
{
  margin-top:50px;
}
.pin_over
{
  text-decoration:overline;
}
.filename
{
  font-size:0.8em;
}
body{
  padding-top:30px;
  background-color: #eee;
}

.main2
{
  padding-left: 16.5%;
}

.query_input{
  width:80%;
  height:50px;
}
.shell-fit{

height:38px
}
.tab-container{
  padding-right: 10px;
  padding-left: 10px;
}
.idx-no{
  width:50px;
}
.re-title{
  padding-bottom: 10px;
border-bottom: 1px solid #aaa;
}
