<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
  <script type="text/javascript" src="./js/angular.js"></script>
  <script type="text/javascript" src="./js/imageview.js"></script>
    <link rel='stylesheet' href="./css/bootstrap.min.css">
  <link rel='stylesheet' href="./css/style.css">
</head>
<body ng-controller="childCtrl">
   <input type='text' class="query_input" ng-model='path' >
   <button ng-click="getImageList()" >Search</button>
 <div class="row">
   <div class="col-md-2" ng-repeat="image in imagelist">
      <a href='{{path +"\\"+ image}}' class="thumbnail">

    <img class="thumb-image "  style="width:150px;height:150px" src='{{path +"\\"+ image}}' >

  </a>
    <p>{{image}}</p>
  </div>
</div>
</body>
</html>
