<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
  <script type="text/javascript" src="./js/angular.js"></script>
  <script type="text/javascript" src="./js/mysql.js"></script>
  <script src="./js/ngDialog.min.js"></script>

  <link rel="stylesheet" href="./css/chrome-tabs.css">
  <link rel="stylesheet" href="./css/chrome-tabs-dark-theme.css">
  <link rel='stylesheet' href="./css/bootstrap.min.css">
  <!--<link rel='stylesheet' href="./css/layout.css">-->
  <link rel="stylesheet" href="./css/ngDialog.min.css">
  <link rel="stylesheet" href="./css/ngDialog-theme-default.css">
  <link rel="stylesheet" href="./css/ngDialog-theme-flat.css">
  <link href="./css/dashboard.css" rel="stylesheet">
  <link rel='stylesheet' href="./css/style.css">
  <script src="./js/jquery-1.9.1.min.js"></script>
  <script src="./js/jquery-ui.min.js"></script>

  <script type="text/ng-template" id="firstDialog">
	<div class="ngdialog-message">
	<form>
		<h2>Native Angular.js solution</h2>
		<ul class="mt">
			<li>Host</li>
			<li><input type="text" ng-model="$parent.dbinfo.host"></li>
			<li>Port</li>
			<li><input type="text" ng-model="dbinfo.port"></li>
			<li>Database</li>
			<li><input type="text" ng-model="dbinfo.database"></li>
			<li>User</li>
			<li><input type="text" ng-model="dbinfo.user"></li>
			<li>Password</li>
			<li><input type="text" ng-model="dbinfo.password"></li>
		</ul>
	<div class="ngdialog-buttons mt">
      <input type="button" class="ngdialog-button ngdialog-button-primary" 
         ng-click="resetdbinfo()" value="Reset" />
	  <button type="submit" class="ngdialog-button ngdialog-button-primary"
         ng-click="updatedbinfo(dbinfo)" value="Save">Save</button>
</form>
	</div>
  </script>
</head>
<body ng-controller="childCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapse" >
          <span class="sr-only">Toggle navigation<span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="#">Mysql Query</a>
          <span class="navbar-brand">connect : {{connect.state}} </span>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"  ng-click="connectdb()">Connect</a></li>
            <li><a href="#" onclick='disconnectdb()'>Close</a><li>
            <li><a href="#" ng-click="open()">Settings</a></li>
            <li><a href="index.html">Home</a></li>
          </ul>
      </div>
  </nav>
  <div >
      <br/>
      <div class='col-sm-3 col-md-2 sidebar'>
        <table class="left">
          <tr>
            <th ng-repeat='th in tables.columns'>
              {{th}}
            </th>
          </tr>
          <tr ng-repeat="row in tables.rows">
            <td ng-repeat='col in row'>
				<a href="#" ng-click="changeselecquery(col)" >{{col}}
				<a/>
            </td>
          </tr>
        </table>
      </div>
      <div class="main2">
        <div class="chrome-tabs-shell chrome-tabs-dark-theme shell-fit">
            <div class="chrome-tabs">
                <div class="chrome-tab">
                    <div class="chrome-tab-favicon" ></div>
                    <div class="chrome-tab-title">Google</div>
                    <div class="chrome-tab-close"></div>
                    <div class="chrome-tab-curves">
                        <div class="chrome-tab-curves-left-shadow"></div>
                        <div class="chrome-tab-curves-left-highlight"></div>
                        <div class="chrome-tab-curves-left"></div>
                        <div class="chrome-tab-curves-right-shadow"></div>
                        <div class="chrome-tab-curves-right-highlight"></div>
                        <div class="chrome-tab-curves-right"></div>
                    </div>
                </div>
                <div class="chrome-tab chrome-tab-current">
                    <div class="chrome-tab-favicon" ></div>
                    <div class="chrome-tab-title">Facebook</div>
                    <div class="chrome-tab-close"></div>
                    <div class="chrome-tab-curves">
                        <div class="chrome-tab-curves-left-shadow"></div>
                        <div class="chrome-tab-curves-left-highlight"></div>
                        <div class="chrome-tab-curves-left"></div>
                        <div class="chrome-tab-curves-right-shadow"></div>
                        <div class="chrome-tab-curves-right-highlight"></div>
                        <div class="chrome-tab-curves-right"></div>
                    </div>
                </div>
            </div>
            <div class="chrome-shell-bottom-bar"></div>
        </div>
        <div class='tab-container'>
        <form class="navbar-form ">
        Query <br/> 
		<textarea type='text' class="query_input form-control " ng-model='sql' cols="100" rows="5" />
			{{sql}}
		</textarea>
        <button ng-click="getdb()">get</button>
      </form>
      <h4 class='re-title'>Result </h4>
      <div  class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class='idx-no'>no.</th>
            <th ng-repeat='th in columns'>
              {{th}}
            </th>
          </thead>
          <tbody>
          </tr>
          <tr ng-repeat="row in rows">
            <td>{{$index+1}}</td>
            <td ng-repeat='col in row'>
              {{col}}
            </td>
          </tr>
        </tbody>
        </table>
      </div>
      <footer>footer
      </footer>
</div>
  </div>
</div>
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>
  <script src="./js/chrome-tabs.js"></script>
  <script>
      var $chromeTabsExampleShell = $('.chrome-tabs-shell')
      chromeTabs.init({
          $shell: $chromeTabsExampleShell,
          minWidth: 45,
          maxWidth: 160
      });
      chromeTabs.addNewTab($chromeTabsExampleShell, {
          title: 'Eager',
          data: {
              timeAdded: +new Date()
          }
      });
      $chromeTabsExampleShell.bind('chromeTabRender', function(){
          var $currentTab = $chromeTabsExampleShell.find('.chrome-tab-current');
          if ($currentTab.length && window['console'] && console.log) {
              console.log('Current tab index', $currentTab.index(), 'title', $.trim($currentTab.text()), 'data', $currentTab.data('tabData').data);
          }
      });

  </script>
</body>
</html>
